.product-card {
    width: 300px;
    position: flex;
    border-radius: 50px;
    box-shadow: 0 2px 7px #dfdfdf;
    margin: 8px ;
    background: #fafafa;
}
.grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
  }
.product-details {
    padding: 30px;
}
.product-button
{
    background-color:#2770D5;
    color: white;
    border: 1px;
    border-radius:4px;
    width: 10rem;
}

.product-catagory {
    display: flex;
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    color: #ccc;
    margin-bottom: 18px;
}

.product-details h4 a {
    font-weight: 500;
    display: block;
    margin-bottom: 18px;
    text-transform: uppercase;
    color: #363636;
    text-decoration: none;
    transition: 0.3s;
}

.product-details h4 a:hover {
    color: #2770D5;
}

.product-details p {
    font-size: 15px;
    line-height: 22px;
    margin-bottom: 18px;
    color: #999;
}

.product-bottom-details {
    overflow: hidden;
    border-top: 1px solid #eee;
    padding-top: 20px;
}

.product-bottom-details div {
    float: left;
    width: 50%;
}

.product-price {
    font-size: 14px;
   
}

.product-price small {
    font-size: 80%;
    font-weight: 400;
    text-decoration: line-through;
    display: inline-block;
    margin-right: 5px;
}

.product-links {
    text-align: right;
}

.product-links a {
    display: inline-block;
    margin-left: 5px;
    color: #e1e1e1;
    transition: 0.3s;
    font-size: 17px;
}

.product-links a:hover {
    color: #2770D5;
}
@media(max-width: 500px)
{
    .product-card {
 
        max-width: 300px;
        position: flex;
        box-shadow: 0 2px 7px #dfdfdf;
        margin: 6px ;
        background: #fafafa;
        display: flex;
        justify-self: center;
    }
    .grid { 
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
        grid-gap: 15px;
        grid-auto-rows: auto;
        align-items: stretch;
        }  
}