/* utilities.css */
.container{
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 40px;
    overflow: auto;
}

.card{
    background-color: #fff;
    color: black;
    border-radius: 10px;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
    padding: 20px;
    margin: 10px;
}

.btn{
    display: inline-block;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: var(--primary-color);
    color: rgb(255, 255, 255);
    padding: 10px 30px;
}

.btn-outline{
    background-color: var(--button-color);
    border: 1px solid rgb(255, 255, 255);
}
.btn:hover{
    transform: scale(0.98);
}

/*Backgrounds & Colored Buttons */
.btn-primary, .bg-primary{
    background-color: var(--button-color);
    color: rgb(252, 252, 252);
}
.btn-secondary, .bg-secondary{
    background-color: var(--secondary-color);
    color: #fff;
}
.btn-dark, .bg-dark{
    background-color: var(--dark-color);
    color: #fff;
}
.btn-light, .bg-light{
    background-color: var(--light-color);
    color: #333;
}

.btn-primary a, .bg-primary a, .btn-secondary a, .bg-secondary a, .btn-dark a, .bg-dark a{
    color: #fff;
}

/*text-color*/
.text-primary{
    color: var(--primary-color);
}
.text-secondary{
    color: var(--secondary-color);
}
.text-dark{
    color: var(--dark-color);
}
.text-light{
    color: var(--light-color);
}

.text-center{
    text-align: center;
}

/*Alert*/
.alert{
    background-color: var(--light-color);
    padding: 10px 20px;
    font-weight: bold;
    margin: 15px 0;
}
.alert i{
    margin-right: 10px;
}
.alert-success{
    background-color: var(--success-color);
    color: #fff;
}
.alert-error{
    background-color: var(--error-color);
    color: #fff;
}


/*Text Sizes*/
.lead{
    font-size: 20px;
}

.sm{
    font-size: 1rem;
}
.md{
    font-size: 2rem;
}
.lg{
    font-size: 2rem;
}
.xl{
    font-size: 4rem;
}

.flex{
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
}

.grid{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    height: 100%;
    align-items: center;
    justify-content: center;
}
.grid-3 {
    grid-template-columns: repeat(3, 1fr);
}

/* margin*/
.my-1{
    margin: 1rem 0;
}
.my-2{
    margin: 1.5rem 0;
}
.my-3{
    margin: 2rem 0;
}
.my-4{
    margin: 3rem 0;
}
.my-5{
    margin: 4rem 0;
}

.m-1{
    margin: 1rem;
}
.m-2{
    margin: 1.5rem;
}
.m-3{
    margin: 2rem;
}
.m-4{
    margin: 3rem;
}
.m-5{
    margin: 4rem;
}


/* Padding*/
.py-1{
    padding: 1rem 0;
}
.py-2{
    padding: 1.5rem 0;
}
.py-3{
    padding: 2rem 0;
}
.py-4{
    padding: 3rem 0;
}
.py-5{
    padding: 4rem 0;
}

.p-1{
    margin: 1rem;
}
.p-2{
    margin: 1.5rem;
}
.p-3{
    margin: 2rem;
}
.p-4{
    margin: 3rem;
}
.p-5{
    margin: 4rem;
}
/* styles.css */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');

:root {
    --primary-color:#E8EAED; 
    --secondary-color: #1c3fa8;
    --dark-color: #002240;
    --light-color: #f4f4f4;
    --success-color:#5cb85c;
    --error-color:#d9534f;
    --button-color:#2770D5;
}


* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
} 

body {
font-family: 'Lato', sans-serif;
color:#333;
line-height: 1.6;
}
/*Navbar */
ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: rgb(0, 0, 0);
}

h1, h2{
    font-weight: 300;
    line-height: 1.2;
    margin: 10px 0;
}
p{
    
    margin: 10px 0;
}

img{
    width: 100%;
}
code, pre{
    background-color: #333;
    color: rgb(0, 0, 0);
    padding: 10px;
}
/*Navbar*/
.navbar{
    background-color: var(--primary-color);
    height: 70px;
    color: rgb(0, 0, 0);
}

.navbar ul{
    display: flex;
    
}

.navbar a{
    padding: 10px;
    margin: 0 5px;
}

.navbar a:hover{
    border-bottom:2px rgb(5, 5, 5) solid;
    
}

.navbar .flex{
    justify-content: space-between;
}

/*Showcase*/
.showcase {
    height: 400px;
    color: rgb(0, 0, 0);
    background-color: var(--primary-color);
    position: relative;
}
.showcase2 {
    height: 400px;
    color: rgb(0, 0, 0);
    background-color: var(--primary-color);
    text-align: center;
    display: flex;
    justify-content: center;
}

.showcase h1{
    font-size: 40px;
}

.showcase p{
    margin: 20px 0;
}

.showcase .grid{
    overflow: visible;
    grid-template-columns: 55% 45%;
    gap: 30px;
}

.showcase-form{
    position: relative;
    top: 60px;
    height: 350px;
    width: 400px;
    padding: 40px;
    z-index: 100;
    justify-self: flex-end;
}
.showcase-form{
    position: relative;
    top: 60px;
    height: 350px;
    width: 400px;
    padding: 40px;
    z-index: 100;
    justify-self: flex-end;
}

.showcase-form .form-control{
    margin: 30px 0;
}

.showcase-form input[type='text'],
.showcase-form input[type='password'],
.showcase-form input[type='email']{
border: 0;
border-bottom: 1px solid #b4becb;
width: 100%;
font-size: 16px;
padding: 3px;
}

.showcase-form input:focus{
    outline: none;
}

.showcase::before, .showcase::after{
    content: '';
    position: absolute;
    height:0px;
    bottom: -70px;
    right: 0;
    left: 0;
    background: #fff;
    transform: skewY(-3deg);
    -moz-transform: skewY(-3deg);
    -webkit-transform: skewY(-3deg);
    -ms-transform: skewY(-3deg);
}

/* stats */
.stats{
    padding-top: 100px;
}
.stats-heading{
    max-width: 500px;
    margin: auto;
}
.stats .grid h3{
    font-size: 25px;
}
.stats .grid p{
    font-size: 20px;
    
}

/*CLI*/
.cli .grid{
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
}
.cli .grid > *:first-child{
    grid-column: 1 / span 2;
    grid-row: 1 / span 2;
}

/*Cloud Grid*/
.cloud .grid{
    grid-template-columns: 4fr 3fr;
}

/* Languages */ 
.languages .flex{
    flex-wrap: wrap;
}


.languages .card{
    text-align: center;
    margin: 18px 10px 40px;
    transition: transform 0.2s ease-in;
}
.languages .card h4{
    font-size: 15px;
    text-align: center;
    margin-bottom: 10px;
}

.languages .card:hover{
    transform: translateY(-15px);
}

/*Fetaures Head*/
.features-head img, .docs-head img{
    width: 200px;
    justify-self: flex-end;
}
.features-sub-head img{
    width: 300px;
    justify-self: flex-end;
}
.features-main .card > i{
    margin-right: 20px;
}
.features-main .grid{
    padding: 30px;
}
.features-main .grid-3 > *:first-child{
    grid-column: 1 / span 3;
}
.features-main .grid-3 > *:nth-child(2){
    grid-column: 1 / span 2;
}

/* Docs*/
.docs-main h3{
    margin: 20px 0;
}
.docs-main .grid{
    grid-template-columns: 1fr 2fr;
    align-items: flex-start;
}
.docs-main nav li{
    font-size: 17px;
    padding-bottom: 5px;
    margin-bottom: 5px;
    border-bottom: 1px #ccc solid;
}
.docs-main a:hover{
    font-weight: bold;
}

/*Footer*/
.footer .social a{
    margin: 0 10px;
}



/*Tablests and Under*/
@media(max-width: 768px){
 .grid, .showcase .grid, .cli .grid, .cloud .grid, .stats .grid .features-main .grid, .docs-main .grid{
     grid-template-columns: 1fr;
     grid-template-rows: 1fr;
 }

 .showcase{
     height: auto;
 }
 .showcase-text{
     text-align: center;
     padding-top: 40px;
 }
 .showcase-form{
     justify-self: center;
     margin: auto;
 }

 .cli .grid > *:first-child{
    grid-column: 1;
    grid-row: 1;
}
.cli .card{
    text-align: center;
}
.features-head, .features-sub-head, .docs-head{
    text-align: center;
}
.features-head img, .features-sub-head img, .docs-head img{
    justify-self: center;

}

.features-main .grid >*:first-child, .features-main .grid > *:nth-child(2){
    grid-column: 1;
}



}

/*Mobie*/
@media(max-width: 500px){
    .navbar{
        height: 110px;
    }
    .navbar .flex{
        flex-direction: column ;
    }
    .navbar ul{
        padding: 10px;
        background-color: rgba(0, 0, 0, 0.1);

    }
}


